.icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 250ms linear;
}

.icon:hover,
.icon:focus {
  transform: scale(1.2);
}
