.list {
  max-width: 276px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-bottom: 80px;
}

.listItem {
  position: relative;
  width: 276px;
}

@media screen and (min-width: 768px) {
  .list {
    max-width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    max-width: 1200px;
  }
}
