.form {
  width: 100%;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  margin-bottom: 24px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
  margin-bottom: 8px;
}

.text {
  font-weight: 500;
  line-height: 125%;
  color: #8d929a;
  margin-bottom: 24px;
}

.fieldWrapper {
  position: relative;
}

.input {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  padding: 14px 20px;
  margin-bottom: 16px;
}

.input::placeholder {
  font-weight: 500;
  line-height: 125%;
  color: #8d929a;
}

.errorMessages {
  position: absolute;
  top: 16px;
  right: 12px;
  color: red;
  font-size: 12px;
  font-weight: 500;
  transition: opacity 250ms linear;
}

.textarea {
  height: 88px;
  margin-bottom: 24px;
}

.btnWrap {
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .form {
    margin: 0;
  }
}
