.img {
  height: 268px;
  border-radius: 14px;
  margin-bottom: 16px;
}

.descWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.desc {
  font-weight: 500;
  line-height: 125%;
  color: #101828;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.model {
  color: #3470ff;
}

.price {
  padding-right: 12px;
}

.infoBlock {
  font-size: 12px;
  line-height: 133%;
  color: #8d929a;
  margin-bottom: 28px;

  display: flex;
  flex-direction: column;
}

.infoList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
}

.infoList:not(:last-of-type) {
  margin-bottom: 4px;
}

.infoList li {
  position: relative;
  padding-right: 6px;
}

.infoList li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: #dadde1;
}

.infoList.withoutLastAfter li:last-child::after {
  display: none;
}
